
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}
.header-container{
  display: flex;
  margin: 15px 99.5px;
}
.header-container ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.top-a{
  padding: 15px;
}
.right-top{
  width: 80%;
}

main{
  margin: 40px 0px 120px;
  text-align: center;
}
.main-container{
  display: flex;
  flex-direction: column;
  gap: 8em;
  margin: 0px 155.5px;
  align-items: center;
}
.find-mix{
  background-color: #F3F5FA;
  border-radius: 15px;
  width: 500px;
  height: 60px;
  display: flex;
}
.find-contents{
  border-width: 0;
  background-color: #F3F5FA;
  border-radius: 15px;
  width: 500px;
  height: 60px;
  padding: 0px 0px 0px 20px;
}
.find-contents:focus{
  outline: none;
  border: 2px solid blue;
  border-width: 1;
}
.find-name{
  margin: 0px 0px 32px;
  font-size: 30.32px;
}
.category{
  display: flex;
}
.category-menu{
  width: 128px;
  height: 138px;
  align-items: center;
}
.category-div-img{
  width: 82px;
  height: 82px;
  margin: 0px 0px 16px;
  padding: 9px;
  border-radius: 15px;
  background-color: #F3F5FA;
  
}
.category-img{
  width: 82px;
  height: 82px;
}
.category-label{
  margin: 0px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}
.list{
  display: flex;
  gap: 60px 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.list-a{
  margin: 0px 0px 20px;
}
.list-li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.list-image{
  border-radius: 20px;
  width: 376px;
  height: 196px;
}
.list-ex{
  text-align: left;
  margin: 0px 0px 12px;
}
.list-ex-strong{
  color:blue;
}
.list-title{
  text-align: left;
  font-size: 24px;
  
}
footer{
  padding: 60px 0px;
  background-color: #F3F5FA;
  color:#8d9299;
}