
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
.header-container{
  display: flex;
  margin: 15px 99.5px;
}
.header-container ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.top-a{
  padding: 15px;
}
.right-top{
  width: 80%;
}
footer{
  background-color: #F3F5FA;
  color:#8d9299;
}
